{%  extends "::frontend/registration/step.html.twig" %}

{% use "::frontend/forms/college.html.twig" %}


{% block titlestep %}
<h3 class="box-title"> Su Centro</h3>
{% endblock %}

{% block descriptionstep %}
    Introduzca los datos de su centro de estudios.
{% endblock %}